<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GottaGo</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav> -->


<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://thumbs.gfycat.com/CraftyBrokenGoldfinch-max-1mb.gif" width="30" height="30" alt="GottaGo">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
   <div class="navbar-nav">
     <a class="nav-item nav-link active" href="/map">Map <span class="sr-only">(current)</span></a>
     <a class="nav-item nav-link" href="#">Advanced Search</a>
     <a class="nav-item nav-link" href="#">Add Review</a>
     <a class="nav-item nav-link" href="#">Add Bathroom</a>
   </div>
 </div>
   <div class="user-info" align="right">
     <form class="form-inline">
    <div style="padding-left: 10px;">
      <% if current_user.nil? %>
      <a class="btn btn-outline-success"
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'fb-login' %>
      </a>
      <% else %>
      <a class="btn btn-outline-primary"
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </a>
    </div>
    <br>
    <br>
     <a class="fb-user-info" style="padding-left:10px">
       <%= current_user.name %>
       <%= image_tag(current_user.image) %>
     </a>
     <% end %>
   </form>
   </div>
</nav>
