<section class='welcome'>
  <% unless current_user %>
    <h1 class='welcome-msg'>Welcome to Gotta Go!</h1>
    <%= button_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'fb-login' %>
  <% else %>
    <%= current_user[:name] %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <section class ='map'>

    </section>
  <% end %>
</section>
